<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game of Life</title>
	<script type="text/javascript">
		var world = '<?php echo json_encode($response); ?>';
		<?php echo file_get_contents(__DIR__ . '/render.js'); ?>
	</script>
</head>
<body onload="renderGrid()">
<canvas id="gameCanvas" width="1000" height="1000"
		data-x-width="<?php echo count($response[0]); ?>"
		data-y-height="<?php echo count($response); ?>"></canvas>
</body>
</html>
